@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Muito bem vindo!!!</h1>
    <p>Leia as nossas novas publicações diárias e esteja sempre ligado nas novidades ao redor do mundo.</p>
</div>
